footer.page-footer
  div.container.flex-row.wrap
    nav.page-nav-container
      ul.js-page-nav
        li.page-nav__item
          a(href="index.html").page-nav__link Home
        li.page-nav__item
          a(href="about.html").page-nav__link About
        li.page-nav__item
          a(href="services.html").page-nav__link Services
        li.page-nav__item
          a(href="portfolio.html").page-nav__link Portfolio
        li.page-nav__item
          a(href="contact.html").page-nav__link Contact
    p.page-footer__text Copyright Folio 2016
