aside.slider
  ul.js-slides
    li(data-num="1", data-img="img/bg/bg_1.png").slides__item
      img(src="img/slide/slide_1.png", alt="Slide1").slides__img
    li(data-num="2", data-img="img/bg/bg_2.png").slides__item
      img(src="img/slide/slide_2.png", alt="Slide2").slides__img
    li(data-num="3", data-img="img/bg/bg_3.png").slides__item
      img(src="img/slide/slide_3.png", alt="Slide3").slides__img
    li(data-num="4", data-img="img/bg/bg_4.png").slides__item
      img(src="img/slide/slide_4.png", alt="Slide4").slides__img
    li(data-num="5", data-img="img/bg/bg_5.png").slides__item
      img(src="img/slide/slide_5.png", alt="Slide5").slides__img
    li(data-num="6", data-img="img/bg/bg_6.png").slides__item
      img(src="img/slide/slide_6.png", alt="Slide6").slides__img
    li(data-num="7", data-img="img/bg/bg_7.png").slides__item
      img(src="img/slide/slide_7.png", alt="Slide7").slides__img
