aside.slider
  ul.js-slides
    li(data-num="1", data-img="img/bg/bg_1.jpg").slides__item
      img(src="img/slide/slide_1.jpg", alt="Slide1").slides__img
    li(data-num="2", data-img="img/bg/bg_2.jpg").slides__item
      img(src="img/slide/slide_2.jpg", alt="Slide2").slides__img
    li(data-num="3", data-img="img/bg/bg_3.jpg").slides__item
      img(src="img/slide/slide_3.jpg", alt="Slide3").slides__img
    li(data-num="4", data-img="img/bg/bg_4.jpg").slides__item
      img(src="img/slide/slide_4.jpg", alt="Slide4").slides__img
    li(data-num="5", data-img="img/bg/bg_5.jpg").slides__item
      img(src="img/slide/slide_5.jpg", alt="Slide5").slides__img
    li(data-num="6", data-img="img/bg/bg_6.jpg").slides__item
      img(src="img/slide/slide_6.jpg", alt="Slide6").slides__img
    li(data-num="7", data-img="img/bg/bg_7.jpg").slides__item
      img(src="img/slide/slide_7.jpg", alt="Slide7").slides__img
