doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Folio
    link(rel='icon' type='image/png', href='favicon.ico')
    link(rel='stylesheet', href='style.min.css')
  body
    .container
      include ../blocks/header/header
      block content
      include ../blocks/slider/slider
    include ../blocks/footer/footer

    script(src='script.min.js')
