doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Folio
    link(rel="icon", type="image/png", href="img/favicon.ico")
    link(rel="stylesheet", href="css/styles.min.css")
  body
    div.page-bg
      // Page header
      include includes/header
      div.flex-row.wrap
        div.container
          main.flex-row.no-wrap
            section.flex-col.no-wrap.section
              article.article
                header.section__header
                  h3 Services
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem
                div.section__content
                  div.card.services-card
                    div.clearfix
                      img(src="img/icons/photo.png", alt="Photo").icon--large
                      header
                        h4 Photography bundle
                        h5 The Professional Bundle For Your Business
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                  div.card.services-card
                    div.clearfix
                      img(src="img/icons/basket.png", alt="Basket").icon--large
                      header
                        h4 Wedding bundle
                        h5 The Professional Bundle For Your Wedding
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                  div.card.services-card
                    div.clearfix
                      img(src="img/icons/settings.png", alt="Settings").icon--large
                      header
                        h4 Development bundle
                        h5 The Bundle With All The Goodies For Your Website
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                  div.card.services-card
                    div.clearfix
                      img(src="img/icons/person.png", alt="Photo").icon--large
                      header
                        h4 Social Media bundle
                        h5 Help Deck Out Your Social Media Profiles
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
              article.article
                div.section-header
                  h3 Testimonials
                div.section-content
                  blockquote Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus
            // Slideshow
            include includes/slider

        // Page footer
        include includes/footer

    script(src="js/common.min.js")
