.services {
  &__item {
    width: 45%;
    margin-top: 1.2rem;
    margin-bottom: 0.9rem;

    @media (max-width: $tablet) {
      width: 100%;
      margin-bottom: 2.2rem;
    }

    img {
      @include square(4.3rem);

      padding: 0.7rem;
      margin-right: 0.7rem;
      float: left;
      object-fit: contain;
      background-color: $color-primary;
    }

    figcaption {
      @extend %clearfix;
    }

    p {
      margin-top: 1.4rem;
      margin-bottom: 0;
    }
  }
}
